@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <div></div>
    <div>
        <div></div>
        <div>
            <h3>
                SEJAM BEM VINDOS
            </h3>
            <p>
                Ao maior parque de ski na neve do Brasil. Aqui você pode se divertir com toda sua familia e amigos.
                Reserve já sua visita e não fique de fora dessa experiência única!
            </p>
            <button type="button" class="btn btn-success" asp-action="cadastrar" asp-controller="compra">
                COMPRAR INGRESSO
            </button>
        </div>
    </div>
</div>
