<style>
    .custom-form {
        padding: 30px; /* Adiciona 20px de padding em todas as direções */
        margin-top: 70px; /* Adiciona margem no topo */
    }
</style>



<h1>Servicos</h1>

<div class="container custom-form bg-light">
    <div class="row">
        <div class="col-md-6">

            <div class="card border-primary mb-3" style="max-width: 20rem;">
                <div class="card-header">TELEFÉRICO</div>
                <div class="card-body">
                    <h4 class="card-title">5x 20,00</h4>
                    <p class="card-text">TOTAL: R$ 100,00</p>
                    <button type="button" class="btn btn-success">
                        <a class="text-light" asp-action="cadastrar" asp-controller="compra">COMPRAR AGORA</a>
                    </button>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card border-primary mb-3" style="max-width: 20rem;">
                <div class="card-header">SNOWMOBILE</div>
                <div class="card-body">
                    <h4 class="card-title">5x 35,00</h4>
                    <p class="card-text">TOTAL: R$ 175,00</p>
                    <button type="button" class="btn btn-success">
                        <a class="text-light" asp-action="cadastrar" asp-controller="compra">COMPRAR AGORA</a>
                    </button>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">

            <div class="card border-primary mb-3" style="max-width: 20rem;">
                <div class="card-header">PACOTE COMPLETO</div>
                <div class="card-body">
                    <h4 class="card-title">5x 80,00</h4>
                    <p class="card-text">TOTAL: R$ 400,00</p>
                    <button type="button" class="btn btn-success">
                        <a class="text-light" asp-action="cadastrar" asp-controller="compra">COMPRAR AGORA</a>
                    </button>
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <div class="card border-primary mb-3" style="max-width: 20rem;">
                <div class="card-header">ESQUIAR</div>
                <div class="card-body">
                    <h4 class="card-title">5x 40,00</h4>
                    <p class="card-text">TOTAL: R$ 200,00</p>
                    <button type="button" class="btn btn-success">
                        <a class="text-light" asp-action="cadastrar" asp-controller="compra">COMPRAR AGORA</a>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

